name: "Frogbot Scan Repository"
on:
  workflow_dispatch:
  schedule:
    # The repository will be scanned once a day at 00:00 GMT.
    - cron: "0 0 * * *"

permissions:
  contents: write
  pull-requests: write
  security-events: write
  # Ensure id-token: write is enabled for OIDC
  id-token: write 

jobs:
  scan-repository:
    runs-on: ubuntu-latest
    name: Scan Repository (${{ matrix.branch }} branch)
    strategy:
      matrix:
        # The repository scanning will be triggered periodically on the following branches.
        branch: ["main"]
        
    steps:
      - uses: jfrog/frogbot@v2.24.1
        with: 
          # --- This line forces the executable version ---
          version: "2.24.1" 
          # ---------------------------------------------
          oidc-provider-name: "srs-test"

        env:
          JF_URL: ${{ secrets.JF_URL }}
          
          # NOTE: $CI_PROJECT_PATH is a GitLab variable. For GitHub, ensure the path is correct.
          JFROG_CLI_CA_CERT_PATH: "/builds/$CI_PROJECT_PATH/xray-root-ca.pem" 
          
          JF_GIT_TOKEN: ${{ secrets.GITHUB_TOKEN }}

          JF_GIT_BASE_BRANCH: ${{ matrix.branch }}
